body {
  font-family: Montserrat;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  background-color: #2d3d54;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}

img,
svg {
  -webkit-user-drag: none;
}

